/* ===== RESET ===== */

html {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p,
blockquote {
  margin-block-end: 0;
  margin: 0;
  font-family: roboto, sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* ===== BASE STYLES ===== */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-container,
#success-container {
  margin-bottom: 3rem;
  max-width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  transform: translateZ(1);
}

.form-image {
  margin: auto;
  width: 100%;
}

.success-icon {
  max-width: 70px;
}

#success-container {
  margin-bottom: 5rem;
}

.form-text p {
  margin-bottom: 1.5rem;
}

.form-text ul {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 2rem;
}

.form-text li {
  display: flex;
  align-items: flex-start;
  gap: 0.4rem;
  margin-bottom: 0.6rem;
}

.form-text li::before {
  content: "";
  width: 21px;
  height: 21px;
  flex: 0 0 21px;
  background: url("./assets/images/icon-list.svg") no-repeat;
  margin-top: -4px;
}

li span {
  margin-left: 1rem;
  position: relative;
  bottom: 4px;
}

p,
li {
  line-height: 20px;
}

/* ===== MOBILE ===== */

body {
  max-width: 425px;
  color: hsl(234, 29%, 20%);
  background-color: hsl(235, 18%, 26%);
  margin: auto;
}

.form-text-submit {
  padding: 1.6rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -12px;
}

label span {
  font-weight: 500;
}

input,
#email-submit-btn,
#dismiss-btn {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

input {
  padding: 1rem;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  margin-bottom: 1rem;
}

input:focus {
  border: 1px solid hsl(234, 30%, 27%);
  outline: none;
}

input::placeholder {
  color: #c0c0c0;
}

#email-submit-btn,
#dismiss-btn {
  padding: 1rem;
  border-radius: 10px;
  background-color: hsl(234, 29%, 20%);
  font-size: 1rem;
  color: white;
  border: none;
}

#email-submit-btn {
  margin-bottom: -1.5rem;
}

#email-submit-btn:hover,
#dismiss-btn:hover {
  background-image: linear-gradient(to right, #ff527b, #ff644a);
  cursor: pointer;
  box-shadow: 2px 3px 7px 2px #ffcbc2;
}

#error-msg {
  color: hsl(4, 100%, 67%);
}

.input-control.error-state input {
  border: 1px solid hsl(4, 100%, 67%);
  background-color: hsl(5, 86%, 94%);
  color: hsl(4, 100%, 67%);
}

.success-icon {
  margin: 0;
}

#success-container {
  padding: 1.6rem;
  padding-top: 8rem;
  margin-bottom: 15rem;
}

#success-container p {
  margin-bottom: 20rem;
}

#success-container h1 {
  margin-top: 2.5rem;
}

#success-container button {
  margin-bottom: 1rem;
}

#email-confirm {
  font-weight: 700;
}

/* ===== TABLET ===== */

@media (min-width: 768px) {
  body {
    max-width: 600px;
  }

  #form-container {
    padding: 2rem;
  }

  h1 {
    font-size: 2.8rem;
    margin-top: 1rem;
  }

  p,
  li {
    font-size: 1.2rem;
  }

  input {
    margin-bottom: 1.7rem;
  }

  #email-submit-btn {
    margin-bottom: -2.5rem;
  }

  #success-container {
    padding: 3rem;
    padding-top: 7rem;
  }
}

/* ===== DESKTOP ===== */

@media (min-width: 1024px) {
  body {
    max-width: 950px;
  }

  #form-container {
    flex-direction: row-reverse;
    margin-top: 5rem;
  }

  #form-container,
  #success-container {
    border-radius: 20px;
  }

  .form-image {
    margin: 0;
  }

  .form-text-submit {
    justify-content: center;
    margin-top: 1.3rem;
    padding-right: 2.5rem;
  }

  #success-container {
    max-width: 450px;
    min-height: 450px;
    padding: 3rem;
    margin-top: 7rem;
    padding-bottom: 2rem;
    justify-content: space-between;
  }

  #success-container p {
    margin-bottom: 2rem;
  }

  #success-container h1 {
    margin-top: 2rem;
  }
}

.hidden {
  display: none !important;
}

/* ===== FOOTER ===== */

footer {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  position: fixed;
  z-index: -1;
  margin-bottom: 3px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 91%, 82%);
}
